In [ ]:
import numpy as np
import pandas as pd
import re

In [ ]:
# đọc dữ liệu employees_astyle.csv (đã chuyển kiểu dữ liệu)
emp_df = pd.read_csv('data/employees_astyle.csv')
emp_df.head()

In [ ]:
# Tìm chuỗi con bắt đầu: dùng df[“Tên_cột”].str.startswith(“chuoi_con”)

In [ ]:
emp_df['JOB_ID'].str.startswith('AC')

In [ ]:
# Tìm nhân viên có JOB_ID bắt đầu là “AC” (Phòng Kế toán)
emp_df[emp_df['JOB_ID'].str.startswith('AC')]

In [ ]:
emp_df.loc[emp_df['JOB_ID'].str.startswith('AC'),['FIRST_NAME','LAST_NAME']]

In [ ]:
emp_df['JOB_ID'].str.contains('REP')

In [ ]:
# Tìm nhân viên có JOB_ID chứa “REP” (Representative)
emp_df[emp_df['JOB_ID'].str.contains('REP')]

In [ ]:
emp_df['EMAIL'].str.lower()

In [ ]:
# Đổi cột EMAIL thành chữ thường
emp_df['EMAIL'] = emp_df['EMAIL'].str.lower()
emp_df.head()

In [ ]:
emp_df['JOB_ID'].str.split('_')

In [ ]:
# Tìm các last_name có chứa chữ q hoặc x
f = open('data/last_names.txt')
for line in f:
    regex = '[qx]'
    if re.search(regex, line):
        print(line, end = '')
f.close()

In [ ]:
# Tìm các last_name bắt đầu với Barn
f = open('data/last_names.txt')
for line in f:
    regex = '^Va[rs]'
    if re.search(regex, line):
        print(line, end = '')
f.close()

In [ ]:
# Tìm các last_name có 5 ký tự, bắt đầu với M và kêt thúc là in
f = open('data/last_names.txt')
for line in f:
    regex = '^...in$'
    if re.search(regex, line):
        print(line, end = '')
f.close()

In [ ]:
text = """Lương nhân viên theo đơn vị tiền tệ Euro là 800€, 1000€, 1500€, 1200€, 960€, 786€.
Chuyển đổi sang Dollar sẽ là 848$, 1060$, 1590$, 1272.$, 1017.6$, 833.16$"""

In [ ]:
pattern = '[0-9]+\.?\d*\W'

print(re.findall(pattern, text))

In [ ]:
pattern = '\d+\.?\d+[€$]'

print(re.findall(pattern, text))

In [ ]:
pattern = '\d{1,}\.{0,1}\d+[€$]'

print(re.findall(pattern, text))

In [ ]:
# Lấy ra tất cả lương theo Euro và theo Dollar (bao gồm cả ký hiệu tiền tệ)
pattern = '\d+\.?\d*\W'

print(re.findall(pattern, text))

In [ ]:
# tạo pattern cho user name từ 3 đến 16 ký tự. 
# Nó chỉ có thể bao gồm các ký tự số và chữ (không có chữ in hoa),
# dấu gạch ngang và dấu gạch dưới

In [ ]:
p = '^[a-z0-9_-]{3,16}$'

In [ ]:
# Kiểm tra user name có thỏa mãn yêu cầu hay không
print(bool(re.match(p, 'alice_20-03-05')))

In [ ]:
print(bool(re.match(p, 'ali')))

In [ ]:
print(bool(re.match(p, 'samantha@1996')))

In [ ]:
text = "The winners are: User9, UserN, User8. The prize is $3000."
# Tìm tất cả User có mã user là số
re.findall("User\d", text)

In [ ]:
# Tìm tất cả User có mã user không phải là số
re.findall("User\D", text)

In [ ]:
# Tìm tất cả User có mã user là số hoặc chữ
re.findall("User\w", text)

In [ ]:
# Tìm tiền thưởng (bao gồm cả ký hiệu tiền tệ)
re.findall("\W\d+", text)

In [ ]:
text

In [ ]:
# Tách chuỗi dựa trên dấu câu và khoảng trắng
re.split("\W\s", text)

In [ ]:
# split
order_id = '20230209-TT*CV#0001'
re.split('\W', order_id)

In [ ]:
order = pd.DataFrame(['20230209-TT*CV#0001', '20230208-DT*LT#0010'],
                     columns=['order_id'])
order

In [ ]:
order['order_id'].str.split('\W',expand=True)

In [ ]:
order[['order_date', 'category', 'product', 'item']] = order['order_id'].str.split('\W', expand=True)
order

In [ ]:
order['order_id'].str.extract('(\d+)-([A-Z]+)\W(\w+)#(\d+)')

In [ ]:
order['order_id'].str.extract('(\w+)\W(\w+)\W(\w+)\W(\w+)')

In [ ]:
# cách khác
order[['order_date', 'category', 'product', 'item']] = order['order_id'].str.extract('(\w+)\W(\w+)\W(\w+)\W(\w+)')
order

In [ ]:
# thay thế
price = '$40,000'
price = int(re.sub('\D+', '', price))
price

In [ ]:
df = pd.DataFrame(['$40,000*','$40000 conditions attached'], columns=['Price'])
df

In [ ]:
df['Price'].str.replace('\D+', '', regex=True)

In [ ]:
df['Price'] = df['Price'].str.replace('\D+', '', regex=True).astype('int')
df

In [ ]:
# findall
diem = 'toán: 10.0 văn: 6.25'
re.findall('(\d+\.\d+)', diem)

In [ ]:
diem_df = pd.DataFrame(['toán: 7.0 văn: 6.5', 'toán: 10.0 văn: 8.5', 
                  'toán: 9.5 văn: 7.0'], columns=['Điểm'])
diem_df

In [ ]:
diem_df['Điểm'].str.findall('(\d+\.\d+)').to_list()

In [ ]:
diem_df[['Toán', 'Văn']] = diem_df['Điểm'].str.findall('(\d+\.\d+)').to_list()
diem_df

In [ ]:
diem_df.dtypes

In [ ]:
diem_df[['Toán', 'Văn']] = diem_df[['Toán', 'Văn']].astype(float)

In [ ]:
# cách khác
diem_df[['toan', 'van']] = diem_df['Điểm'].str.extract('toán: (\d+\.\d+) văn: (\d+\.\d+)', expand=True)
diem_df

In [ ]:
diem_df.dtypes

In [ ]:
diem_df.iloc[:,1:] = diem_df.iloc[:,1:].applymap(float)

In [ ]:
# search
text = "abc.pdf"
pattern = '^([a-z]+)\.pdf$'  # Một pattern đơn giản để tìm các con số.

print(re.search(pattern, text).group(1))

In [ ]:
data = {'Text': ['This is a sentence with 123 numbers.',
                 'Python is a powerful programming language.',
                 'Regular expressions are useful for text processing.',
                 'Data science involves 456 data analysis.']}
df = pd.DataFrame(data)

df

In [ ]:
df['Text'].str.contains(pattern, regex=True)

In [ ]:
# Sử dụng str.contains với regular expression pattern
pattern = '\d+'  # Tìm các số

matches = df[df['Text'].str.contains(pattern, regex=True)]

matches

In [ ]:
emp_df['PHONE_NUMBER']

In [ ]:
# extract 
emp_df['PHONE_NUMBER'].str.extract('.(\d{3}).')

In [ ]:
emp_df['PHONE_NUMBER'].str.split('.').to_list()

In [ ]:
# GV yêu cầu HV trích xuất 1 số thông tin áp dụng regular expression cho emp_df

In [ ]:
emp_df['JOB_ID']

In [ ]:
emp_df['JOB_ID'].str.extract('_(\w+)')

In [ ]:
emp_df['Job_Code'] = emp_df['JOB_ID'].str.extract('(\w+)_')
emp_df.head()

In [ ]:
emp_df['Job_Code1'] = emp_df['JOB_ID'].str.extract('_([A-Z]+)')
emp_df.head()

In [ ]:
emp_df[['HIRED_YEAR', 'HIRED_MONTH']] = emp_df['HIRE_DATE'].str.extract('(\d{4})-(\d{2})')
emp_df.head()

In [ ]:
emp_df.dtypes

In [ ]:
emp_df[['HIRED_YEAR', 'HIRED_MONTH']] = emp_df[['HIRED_YEAR', 'HIRED_MONTH']].applymap(int)