In [ ]:
import numpy as np
import pandas as pd

## Thay thế giá trị không mong muốn

In [ ]:
df = pd.DataFrame({'x':[1000,1200,1100,2000,-1,1300,1200], 'y':[1000,-1,1100,1000,-2,1200,1100]})
df

In [ ]:
# thay thế giá trị -1 bằng 0 trên cột y
df['y'].replace(-1,0,inplace=True)

In [ ]:
df

In [ ]:
df['y'] = df['y'].replace(-2,1)

In [ ]:
df

In [ ]:
df['y'].replace({-1:0,-2:1})

In [ ]:
df = pd.DataFrame({'x':[1000,1200,1100,2000,-1,1300,1200], 'y':[1000,-1,1100,1000,-2,1200,1100]})
df

In [ ]:
# thay thế giá trị -1 bằng 0 cho toàn bộ dataframe
df = df.replace(-1, 0)
df

In [ ]:
emp_df = pd.read_excel('data/employees.xlsx')
emp_df

## Xử lý dữ liệu null/NaN

In [ ]:
emp_df.info()

In [ ]:
emp_df.isnull()

In [ ]:
emp_df.isnull().any()

In [ ]:
emp_df.isnull().sum()

In [ ]:
emp_df[['MANAGER_ID', 'DEPARTMENT_ID']].isnull().any(axis = 1)

In [ ]:
# Xem các dòng bị NaN ở cột 'MANAGER_ID', 'DEPARTMENT_ID'
emp_df[emp_df[['MANAGER_ID', 'DEPARTMENT_ID']].isnull().any(axis = 1)]

In [ ]:
df1 = pd.DataFrame({0:[np.nan, np.nan,1.5783, np.nan, np.nan, np.nan, -1.1457], 
                    1:[-2.0172, np.nan,0.6374, np.nan, np.nan, np.nan, np.nan]})
df1

In [ ]:
df2 = df1.fillna(method='ffill')
df2

In [ ]:
df3 = df1.fillna(method='backfill')
df3

In [ ]:
# GV yêu cầu HV điền dữ liệu phù hợp cho dữ liệu null tại cột 'DEPARTMENT_ID'

In [ ]:
# nhân viên này có JOB_ID là SA_REP nên sẽ cùng phòng ban với NV ở dòng phía trên hoặc dòng phía dưới

In [ ]:
emp_df1 = emp_df.copy()
emp_df1['DEPARTMENT_ID'] = emp_df1['DEPARTMENT_ID'].ffill()
emp_df1[77:80]

In [ ]:
emp_df['DEPARTMENT_ID'] = emp_df['DEPARTMENT_ID'].bfill()
emp_df[77:80]

In [ ]:
df4 = pd.DataFrame({'x':[1000,1200,1100,2000,np.nan,1300,1200], 
                   'y':[1000,np.nan,1100,1000,np.nan,1200,1100],
                  'z':[1000,1100,np.nan,1000,1200,np.nan,1100]})
df4

In [ ]:
df4.fillna(0, inplace=True)
df4

In [ ]:
df5 = pd.DataFrame({'x':[1000,1200,1100,2000,np.nan,1300,1200], 
                   'y':[1000,np.nan,1100,1000,np.nan,1200,1100],
                  'z':[1000,1100,np.nan,1000,1200,np.nan,1100]})
df5

In [ ]:
df5['z'].fillna(0, inplace=True)
df5

In [ ]:
df6 = pd.DataFrame({'x':[1000,1200,1100,2000,np.nan,1300,1200], 
                   'y':[1000,np.nan,1100,1000,np.nan,1200,1100],
                  'z':[1000,1100,np.nan,1000,1200,np.nan,1100]})
df6

In [ ]:
df6.fillna(value={'x':1300, 'y':1000,'z':1100}, inplace=True)
df6

In [ ]:
# GV yêu cầu HV điền dữ liệu phù hợp cho dữ liệu null tại cột 'MANAGER_ID', 'COMMISSION_PCT'

In [ ]:
# các NV có COMMISSION_PCT NaN tức là không có hoa hồng, có thể xem là COMMISSION_PCT = 0
# NV không có MANAGER_ID ở dữ liệu này là quản lý cao nhất, không có người quản lý nên có thể điền = 0 (hiểu là ko có người quản lý)

In [ ]:
emp_df[['MANAGER_ID', 'COMMISSION_PCT']] = emp_df[['MANAGER_ID', 'COMMISSION_PCT']].fillna(0)
emp_df.head()

In [ ]:
df7 = pd.DataFrame({'A':[-0.349596, np.nan,1.5783, np.nan, np.nan, np.nan, -1.1457, 0.7705, 0.0976], 
                    'B':[-2.0172, np.nan,0.6374, np.nan, np.nan, np.nan, 0.0529, 0.085, 0.13705],
                    'C':[np.nan, 0.068,0.07521, -0.2589, 0.56550, -2.2852, -1.8541, -0.6854, 1.2589]})
df7

In [ ]:
df8 = df7.dropna(axis = 0)
df8
# xóa dòng dữ liệu chứa NaN

In [ ]:
df7.dropna(axis=1)

In [ ]:
df7.dropna(subset=['C'])
# xóa dòng dữ liệu chứa NaN dựa trên cột

In [ ]:
df7

In [ ]:
kc = (1.5783 -(-1.1457))/4
kc

In [ ]:
dl_3 = 1.5783 - kc
dl_3

In [ ]:
dl_4 = 1.5783 - kc*2
dl_4

In [ ]:
dl_5 = 1.5783 - kc*3
dl_5

In [ ]:
df10 = df7.interpolate()
df10

In [ ]:
# Lưu emp_df vào file csv (đã được fill missing data)
emp_df.to_csv('data/employees_filled.csv', index=False)