In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Lưu emp_df vào file csv (đã có thông tin phòng ban)
emp_df = pd.read_csv('data/employees_full.csv')
df1 = emp_df.head()
df1

### Bar plot

In [ ]:
df1.dtypes

In [ ]:
df1.plot.bar()

In [ ]:
df1[['SALARY','MANAGER_ID','LAST_NAME']]

In [ ]:
df1[['SALARY','MANAGER_ID','LAST_NAME']].plot.bar()

In [ ]:
df1[['SALARY','MANAGER_ID','LAST_NAME']].plot.bar(x='LAST_NAME',y='SALARY',title = 'Biểu đồ bar')

In [ ]:
cnt_ser = emp_df.DEPARTMENT_NAME.value_counts()
cnt_ser

In [ ]:
# đếm số NV theo phòng ban
cnt_ser.plot.bar(title = 'Số lượng nhân viên mỗi phòng ban',rot=70);

In [ ]:
cnt_ser.plot.barh(title = 'Số lượng nhân viên mỗi phòng ban');

In [ ]:
salary_ser = emp_df.groupby('DEPARTMENT_ID')['SALARY'].mean().sort_values(ascending = False)
salary_ser

In [ ]:
# tính trung bình lương theo DEPARTMENT_ID
salary_ser.plot.bar(figsize = (10,5), rot = 30, grid = True);

In [ ]:
# tính lương nhỏ nhất, trung bình, lớn nhất theo DEPARTMENT_NAME 
# của 5 phòng ban có lương trung bình cao nhất
salary_df = emp_df.groupby('DEPARTMENT_NAME')['SALARY'].agg(['min', 'mean', 'max']).\
            sort_values('mean', ascending = False).head()
salary_df

In [ ]:
salary_df.plot.bar()

In [ ]:
salary_df[['min', 'max']]

In [ ]:
salary_df[['min', 'max']].plot.bar(figsize = (10,6), rot = 0,
                                   title = 'Lương nhỏ nhất, lớn nhất theo phòng ban');

In [ ]:
# Vẽ biểu đồ Lương nhỏ nhất, lớn nhất của 5 phòng ban có lương trung bình cao nhất
salary_df[['min', 'max']].plot.bar(figsize = (10,6), rot = 0,
                                   title = 'Lương nhỏ nhất, lớn nhất theo phòng ban');

In [ ]:
df_cnt = pd.crosstab(index=emp_df['DEPARTMENT_NAME'], columns=emp_df['HIRE_YEAR'], margins=True) # đếm
df_cnt

In [ ]:
df_cnt = df_cnt.sort_values('All').iloc[:-1, :-1]
df_cnt

In [ ]:
df_cnt.plot.barh(stacked = True, title = 'Thống kê số lượng nhân viên theo năm vào làm');

## Line plot

In [ ]:
df_cnt = emp_df.groupby('HIRE_YEAR', as_index=False)['FIRST_NAME'].count()
df_cnt

In [ ]:
df_cnt = df_cnt.rename(columns={'FIRST_NAME':'COUNT'})
df_cnt

In [ ]:
df_cnt.plot()

In [ ]:
df_cnt.plot(x = 'HIRE_YEAR',
           title = 'Số lượng nhân viên vào làm qua các năm',legend=False);

In [ ]:
ser = emp_df.HIRE_YEAR.value_counts()
ser = ser.sort_index()
ser

In [ ]:
ser.plot()

In [ ]:
salary_df

In [ ]:
salary_df.plot()

In [ ]:
salary_df[['min','max']].plot()