In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Gộp các dataframe có cột giống nhau

In [ ]:
df_1 = pd.DataFrame({'name':['Tom','Alice','Bill'], 'age':[23,25,26]})
df_2 = pd.DataFrame({'name':['Jack','Mike'], 'age':[21,23]})

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
pd.concat([df_1, df_2])

In [ ]:
# mặc định axis=0
df = pd.concat([df_1, df_2],ignore_index=True) 
df

In [ ]:
# Gộp các dataframe có cột khác nhau

In [ ]:
df_1 = pd.DataFrame({'name':['Tom','Alice','Bill'], 'age':[np.nan,25,26], 'salary':[1000,1200,1500]})
df_2 = pd.DataFrame({'name':['Jack','Mike'], 'age':[21,23], 'sex':['male','male']})

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
df = pd.concat([df_1, df_2], ignore_index=True,join='outer') 
df

In [ ]:
df = pd.concat([df_1, df_2], ignore_index=True,join='inner') 
df

In [ ]:
# Gộp các dataframe theo cột

In [ ]:
df_1 = pd.DataFrame({'name':['Tom','Alice','Bill'], 'age':[23,np.nan,26]})
df_2 = pd.DataFrame({'sex':['male','female'], 'salary':[1000,1200]})

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
df = pd.concat([df_1, df_2], axis=1, join='outer') 
df

In [ ]:
df = pd.concat([df_1, df_2], axis=1, join='inner') 
df

In [ ]:
# pandas.merge()
# Kết hợp 2 dataframe có cột chung
df_1 = pd.DataFrame({'name':['Tom','Alice','Bill'], 'age':[23,np.nan,26]})
df_2 = pd.DataFrame({'name':['Alice','Tom'], 'sex':['male','female'], 'salary':[1000,1200]})

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
df = pd.merge(df_1, df_2,how='inner') # key: name
df

In [ ]:
df = pd.merge(df_1, df_2,how='outer') # key: name
df

In [ ]:
# Kết hợp hai dataframe có tên cột khác nhau
df_dep = pd.DataFrame({'depid':[1,2,3], 'depname':['IT','Sales','HR']})
df_emp = pd.DataFrame({'id':[100,101,102,103], 'name':['Mike', 'King', 'Billy','Jack'], 'department_id':[1,2,1,np.nan]})

In [ ]:
df_emp

In [ ]:
df_dep

In [ ]:
df = pd.merge(df_emp, df_dep, left_on='department_id', right_on='depid',how='inner')
df

In [ ]:
df = pd.merge(df_emp, df_dep, left_on='department_id', right_on='depid',how='outer')
df

In [ ]:
# Kết hợp hai dataframe với Left join
df_dep = pd.DataFrame({'depid':[1,2,3], 'depname':['IT','Sales','HR']})
df_emp = pd.DataFrame({'id':[100,101,102,103], 'name':['Mike', 'King', 'Billy','Jack'], 'depid':[1,2,1,np.nan]})

In [ ]:
df_emp

In [ ]:
df_dep

In [ ]:
df = pd.merge(df_emp, df_dep, how='left')
df

In [ ]:
df = pd.merge(df_emp, df_dep, how='right')
df