In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# đọc dữ liệu employees_astyle.csv (đã chuyển kiểu dữ liệu)
emp_df = pd.read_csv('data/employees_astyle.csv')
emp_df.head()

In [ ]:
emp_df.dtypes

In [ ]:
emp_df['HIRE_DATE'] = pd.to_datetime(emp_df['HIRE_DATE'])
emp_df['HIRE_YEAR'] = pd.to_datetime(emp_df['HIRE_DATE']).dt.year
emp_df.head()

In [ ]:
dep_df = pd.read_excel('data/departments.xls')
dep_df.head()

In [ ]:
# gộp dữ liệu emp_df và dep_df[['DEPARTMENT_ID', 'DEPARTMENT_NAME']]
emp_df = pd.merge(emp_df, dep_df[['DEPARTMENT_ID', 'DEPARTMENT_NAME']])
emp_df.head()

In [ ]:
emp_df.info()

In [ ]:
emp_df.describe()

In [ ]:
emp_df.describe(include='O')

## Thống kê trên 1 cột

In [ ]:
salary = emp_df.SALARY
salary

In [ ]:
salary.count()

In [ ]:
salary.sum()

In [ ]:
salary.mean()

In [ ]:
salary.median()

In [ ]:
s = pd.Series([1,2,3,4,1,2,5,7,1,2])

In [ ]:
s.value_counts()

In [ ]:
s.mode()

In [ ]:
# Giá trị xuất hiện nhiều nhất: Mức lương phổ biến nhất
salary.mode() #=> trả về series

In [ ]:
salary.value_counts()

In [ ]:
salary.min()

In [ ]:
salary.max()

In [ ]:
salary.std()

In [ ]:
salary.var()

In [ ]:
salary.quantile(0.25) # Q1

In [ ]:
salary.quantile(0.5) # Q2

In [ ]:
salary.quantile(0.75) # Q3

In [ ]:
salary.sort_values()

In [ ]:
salary

In [ ]:
salary.sort_values(ascending=False)

In [ ]:
# thống kê số nhân viên theo năm vào làm
emp_df.HIRE_YEAR.value_counts()

In [ ]:
# thống kê số nhân viên theo phòng ban
emp_df.DEPARTMENT_NAME.value_counts()

## Thống kê trên Dataframe

In [ ]:
emp_df.count()

In [ ]:
emp_df.dtypes

In [ ]:
emp_df.sum(numeric_only=True)

In [ ]:
emp_df.mean(numeric_only=True)

In [ ]:
emp_df.median(numeric_only=True)

In [ ]:
emp_df.min(numeric_only=True)

In [ ]:
emp_df.max(numeric_only=True)

In [ ]:
emp_df.std(numeric_only=True)

In [ ]:
emp_df.var(numeric_only=True)

In [ ]:
emp_df.quantile(0.25, numeric_only=True)

In [ ]:
emp_df.head()

In [ ]:
emp_df.sort_values(by='EMPLOYEE_ID')

In [ ]:
emp_df.sort_values('HIRE_DATE', ascending=False)

In [ ]:
df = emp_df.iloc[:,[0,1,2,7]]
df.head()

In [ ]:
df.sort_values(by=['SALARY','LAST_NAME'],ascending=[True,False])

In [ ]:
#emp_df.HIRE_YEAR.value_counts()
emp_df.value_counts('HIRE_YEAR')

In [ ]:
emp_df.HIRE_YEAR.value_counts()

In [ ]:
emp_df.value_counts(['HIRE_YEAR', 'DEPARTMENT_NAME']).head(10)

In [ ]:
emp_df.value_counts(['HIRE_YEAR', 'DEPARTMENT_NAME']).head(10).reset_index()

In [ ]:
emp_df.value_counts(['HIRE_YEAR', 'DEPARTMENT_NAME']).head(10).reset_index().rename(columns={0:'Cnt'})

## Groupby

In [ ]:
emp_df.groupby('DEPARTMENT_NAME')

In [ ]:
emp_df.columns

In [ ]:
emp_df.dtypes

In [ ]:
emp_df.groupby('DEPARTMENT_NAME').mean(numeric_only=True)

In [ ]:
emp_df.groupby('DEPARTMENT_NAME')[['SALARY','COMMISSION_PCT']].mean().reset_index()

In [ ]:
emp_df.groupby('DEPARTMENT_NAME',as_index=False)[['SALARY','COMMISSION_PCT']].mean()

In [ ]:
# lương nhân viên trung bình theo năm vào làm
emp_df.groupby('HIRE_YEAR',as_index=False)['SALARY'].mean()

In [ ]:
emp_df.DEPARTMENT_NAME.value_counts()

In [ ]:
emp_df.groupby('DEPARTMENT_NAME')['EMPLOYEE_ID'].count()

In [ ]:
# đếm số NV theo phòng ban
emp_df.groupby(by='DEPARTMENT_NAME',as_index=False)['EMPLOYEE_ID'].count()

In [ ]:
emp_df.groupby('DEPARTMENT_NAME',as_index=False)['EMPLOYEE_ID'].count().sort_values(by='EMPLOYEE_ID',ascending=False)

In [ ]:
emp_df.groupby('DEPARTMENT_NAME')['EMPLOYEE_ID'].count().reset_index().sort_values(by='EMPLOYEE_ID',ascending=False)

In [ ]:
# tính trung bình lương theo JOB_ID
emp_df.groupby('JOB_ID')['SALARY'].mean()

In [ ]:
# xem thông tin thống kê lương theo năm vào làm
emp_df.groupby('HIRE_YEAR')['SALARY'].describe()

In [ ]:
emp_df.groupby('DEPARTMENT_NAME')['SALARY'].median()

In [ ]:
emp_df.groupby('DEPARTMENT_NAME')['SALARY'].mean()

In [ ]:
emp_df.groupby('DEPARTMENT_NAME')['SALARY'].max()

In [ ]:
emp_df.groupby('DEPARTMENT_NAME')['SALARY'].count()

In [ ]:
# tính số lượng NV, lương trung bình, trung vị, lớn nhất, nhỏ nhất theo phòng ban
emp_df.groupby('DEPARTMENT_NAME')['SALARY'].agg(['count','min','max','mean','median'])

In [ ]:
emp_df.groupby('DEPARTMENT_NAME').agg(Count_Emp = pd.NamedAgg(column='EMPLOYEE_ID',aggfunc='count'),
                                     Sal_avg = pd.NamedAgg(column='SALARY',aggfunc='mean'))

In [ ]:
# đếm số lượng nhân viên theo năm vào làm và theo phòng ban
df = emp_df.groupby(['HIRE_YEAR', 'DEPARTMENT_NAME'],as_index=False)['DEPARTMENT_ID'].count()
df.head(10)

In [ ]:
df.loc[(df.HIRE_YEAR==2007) & (df.DEPARTMENT_NAME=='IT'),'DEPARTMENT_ID'].iloc[0]

In [ ]:
df1 = pd.crosstab(index=emp_df.HIRE_YEAR, columns=emp_df.DEPARTMENT_NAME,values=emp_df.DEPARTMENT_ID,aggfunc='count')
df1.fillna(0).applymap(int)

In [ ]:
df1.loc[2007,'IT']

### Cross Tab

In [ ]:
round(pd.crosstab(index=emp_df['HIRE_YEAR'], columns=emp_df['DEPARTMENT_NAME'], 
                  values=emp_df['SALARY'], aggfunc='mean'))

In [ ]:
pd.crosstab(index=emp_df['HIRE_YEAR'], columns=emp_df['DEPARTMENT_NAME']) # đếm

In [ ]:
pd.crosstab(index=emp_df['HIRE_YEAR'], columns=emp_df['DEPARTMENT_NAME'], margins=True)

In [ ]:
pd.crosstab(index=emp_df['HIRE_YEAR'], columns=emp_df['DEPARTMENT_NAME'], normalize=True)

In [ ]:
pd.crosstab(index=emp_df['HIRE_YEAR'], columns=emp_df['DEPARTMENT_NAME'], normalize='index')

In [ ]:
pd.crosstab(columns=emp_df.DEPARTMENT_NAME, index=emp_df.HIRE_YEAR, values=emp_df.SALARY,aggfunc='sum')

### Pivot table

In [ ]:
pd.pivot_table(data=emp_df, columns='DEPARTMENT_NAME', index='HIRE_YEAR', values='SALARY',aggfunc='sum')

In [ ]:
pd.pivot_table(data=emp_df, columns='DEPARTMENT_NAME', index='HIRE_YEAR', values='SALARY',fill_value=0)

In [ ]:
pivot = round(pd.pivot_table(data=emp_df, index='DEPARTMENT_NAME', columns='HIRE_YEAR', values='SALARY')) # mean
pivot

In [ ]:
# tính tổng lương
round(pd.pivot_table(data=emp_df, index='DEPARTMENT_NAME', columns='HIRE_YEAR', 
                     values='SALARY', aggfunc='sum'))

### Melt

In [ ]:
pivot = pivot.reset_index()
pivot

In [ ]:
unpivoted_df = pd.melt(pivot, id_vars=['DEPARTMENT_NAME'], var_name='HIRE_YEAR_tmp', value_name='mean_SALARY')

# Xóa các dòng có giá trị NaN
unpivoted_df = unpivoted_df.dropna()

# Hiển thị DataFrame đã unpivot
unpivoted_df

In [ ]:
# Lưu emp_df vào file csv (đã có thông tin phòng ban)
emp_df.to_csv('data/employees_full.csv', index=False)

In [ ]:
df = pd.DataFrame({'Name': {0: 'John', 1: 'Bob', 2: 'Shiela'},
                   'Course': {0: 'Masters', 1: 'Graduate', 2: 'Graduate'},
                   'Age': {0: 27, 1: 23, 2: 21}})
df

In [ ]:
pd.melt(df, id_vars=['Name'])

In [ ]:
pd.melt(df, id_vars=['Name'], value_vars=['Age'],var_name='col1',value_name='col 2')

In [ ]:
pd.melt(df, id_vars=['Name','Course'], value_vars=['Age'])

In [ ]:
pd.melt(df, id_vars=['Name','Course'], value_vars=['Age'],
        var_name='ChangedVarname', value_name='ChangedValname')

In [ ]:
pd.melt(df, id_vars=['Name'], value_vars=['Course'],
        var_name='ChangedVarname', value_name='ChangedValname')

## Lưu ý khi group nhiều cột

In [ ]:
emp_df.columns

In [ ]:
df = emp_df.groupby(['HIRE_YEAR','DEPARTMENT_NAME'])['SALARY'].mean().reset_index()
df.head()

In [ ]:
df = emp_df.groupby(['HIRE_YEAR','DEPARTMENT_NAME'],as_index=False)['SALARY'].mean()
df.head()

In [ ]:
emp_df.groupby(['HIRE_YEAR','DEPARTMENT_NAME'])['SALARY'].mean()